<html>
<head>
    <title>Add Category</title>
</head>
<body>
    <a href="/">Main Page</a>
    <h1>Add Category</h1>
    <form method="post">
        <input name="name" placeholder="Name"/>
        <textarea name="description" placeholder="Description"></textarea>
        <button type="submit">Submit</button>
    </form>
</body>
</html>